div{
    border: solid 4px #ff0000;
    padding: 20px;
}
h2{
    display: block;
    border: solid 2px #ff9900;
    background-color:#FF9900;
}
dt{
    border-bottom: solid 1px #000000;
}

a{
    display: block;
    text-align: center;
    background-color:#FF9900;
    border: solid 4px #ff0000;
   
    
    
}
section{
     border-left: solid 1px #ff9900;
     border-right: solid 1px #ff9900;
     border-bottom: solid 1px #ff9900;
     margin-bottom: 20px;
}
article{
    border:solid 3px #FF9900;
    padding:20px;
}


